name: Generate API Documentation
on:
  push:
    branches:
      - main
jobs:
  sync-badges-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: badges
          fetch-depth: 0
      - name: Sync badges branch with main branch
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git merge origin/main
          git push
  generate-and-update-coverage-badge:
    needs: sync-badges-branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from branch badges
        uses: actions/checkout@v2
        with:
          ref: badges
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run Coverage
        run: |
          chmod +x gradlew
          ./gradlew build jacocoTestReport
      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
          generate-coverage-badge: true
          badges-directory: .github/badges
      - name: Commit the badge (if it changed)
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          if [[ `git diff --exit-code .github/badges/jacoco.svg` ]]; then
            git add .github/badges/jacoco.svg
            git commit -m "Autogenerated JaCoCo coverage badge"
            git push
          fi
