name: Validate and Test
on:
  push:
    branches-ignore:
      - gh-pages
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.2
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Execute Gradle build
        run: ./gradlew clean build
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always() # clause guarantees that this action always runs, even if earlier steps (e.g., the unit test step) in your workflow fail.
        with:
          files: "build/test-results/**/*.xml"

  lint-markdown:
    name: Lint all markdown files in project
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Lint markdowns
        uses: nosborn/github-action-markdown-cli@v3.0.1
        with:
          files: '**/*.md'
  checkstyle:
    runs-on: ubuntu-latest
    name: Run CheckStyle
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run CheckStyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          checkstyle_config: checkstyle.xml
          level: error
          fail_on_error: true
          reporter: 'github-check'
          github_token: ${{ secrets.GITHUB_TOKEN }}
  spot-bugs:
    name: Run SpotBugs
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.2
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Execute Gradle build
        run: ./gradlew clean assemble spotbugsMain
      - uses: jwgmeligmeyling/spotbugs-github-action@master
        with:
          path: '**/spotbugs.xml'
  testCoverage:
    name: Run JaCoCo
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4.2
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Execute Gradle build
        run: ./gradlew clean build jacocoTestReport
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.3  # requires at least two pushes to a PR, see https://github.com/Madrapps/jacoco-report/issues/13
        with:
          paths: ${{ github.workspace }}/build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: build/reports/jacoco/**
      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
          generate-coverage-badge: true
          badges-directory: .github/badges
      - name: Commit the badge (if it changed)
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          if [[ `git diff --exit-code .github/badges/jacoco.svg` ]]; then
            git add .github/badges/jacoco.svg
            git commit -m "Autogenerated JaCoCo coverage badge"
            git push
          fi
